body{
    background-color: lightcyan;
    background-image: none;
    background-repeat: no-repeat;
}

h1{
    color:red;
    font-size: 24px;
}

hr{
    color: black;
    height: 10px;
    width: 50%;
}

/* p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
} */

p{
    text-indent: 20px;
}

#toptext{
    position: absolute; top: 50px; left: 600px;
    background-color: lightsalmon;
    padding: 20px;
    border-style:solid;
    border-width: 5px;
    border-color:black;
}