body {
    background-color: #e3d3ff;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 90px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 90px;
    }
    
    h3 {
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }
}

.btn {
    background-color: #a67fe9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#hiddenMessage {
    display: none;
}

#myFunction {
    display: none;
}