/* Global Styles 
------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
}


body{
    margin: 0;
    background-color: #fbfaf3;
}



/* Header & Hero Styles 
------------------------------------------------------------------*/
.header {
    overflow: hidden;
    background-color: #637a6a;
    padding: 20px 10px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover{
    background-color: gold;
    color: black;
}

.hero-image{
    background-image: url(Images/XK_Background.png);
    padding: 25%;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    text-align: center;
}

.hero-text h1{
    font-size: 60px;
}

.header-right{
    float: right;
}

@media screen and (max-width: 500px){
    /* Header & Hero */
    .header a{
        float: none;
        display: block;
        text-align: left;
    }

    .header-right{
        float: none;
    }

    .hero-text{
        float: none;
        text-align: center;
    }

    /* Quote */
    .text-wrap{
        width: 40%;
        margin: 0 auto;
        padding: 3vh 0;
    }

    .quote {
        margin: 3%;
    }

    .quote h1{
        font-size: 300%;
        text-align: center;
    }

    /* Shelves */
    .shelves-container {
        grid-template-columns: repeat(2, 1); /*kelsey edit */
    }

    /* Who We Are */
    .container{
        float: none;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
    }

    .sign{
        float: left;
        margin: 5%;
    }

    /* Footer */
    .content-wrap{
        width: 20%;
        margin: 0 auto;
        padding: 3%;
    }

}


/* Quote Styles 
------------------------------------------------------------------*/
.quote{
    margin: 3%;
    padding: 5rem 10rem;
    background-size: cover;
    position: relative;
    border: .75vh dotted green;
}

.quote h1{
    font-size: 300%;
    text-align: center;
    padding: 5% 5%;
    background-color:#637a6a;
    color: white;
}

.text-wrap{
    width: 40%;
    margin: 0 auto;
    padding: 3vh 0;
}



/* Shelves Styles 
------------------------------------------------------------------*/
.shelves-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #637a6a;
    padding: 10px;
}

.shelves-item{
    background-color: #EADDCA;
    border: 1vh solid #007200;
    padding: 5%;
    /* font-size: 30px; */
    text-align: center;
}

.shelves-item img{
    width: 50%;
    height: 100%;
}





/* Who We Are Styles 
------------------------------------------------------------------*/
.container{
    width: 50%;
    margin: 0 auto;
    /* border: 5px solid black; */
    overflow: hidden;
}

.sign{
    float: left;
    margin: 5%;
    border: 0.6vh solid black;
}

.who-text{
    text-align: center;
    padding: 50px 0;
}





/* Footer Styles 
------------------------------------------------------------------*/
footer {
    background: #637a6a;
    color: #F7FFF7;
    text-align: center;
  }
  
.navigation {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
.navigation a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  .content-wrap {
    width: 20%;
    margin: 0 auto;
    padding: 3%;
  }